.home_back_image{
    width: 100%;
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0) );
   z-index: -1;
   margin-bottom: -20px;

}
.home_back{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}